<% include partials/updated-header.ejs %>
	<br>
		 <button id="save">Save Symptoms</button>
		<button id="clear">Clear Local Storage</button>
		<button id="returnToPlay">Return To Play</button> 
		<!--<button id="summary">Display Results</button>
		<button id="activateRTP">Activate Return To Play</button>
		<button id="testRTP">Test Mode</button>-->
		<DIV id = 'message'><H1>Test Mode On</H1></DIV>
		<DIV id = 'header'><H1><%= data.title %></H1></DIV>
		<DIV id = 'desc'><h2><%= data.desc %> </h2></DIV>
		<DIV id = 'body'>
			<table id = 'table'>
				<tr>
					<td>Symptom Name</td>
					<td>Intensity</td>
				</tr>
				<% for(i=0; i<data.questions.length; i++){ %>
				<tr>
					<td id="<%= data.questions[i].id %>"><%= data.questions[i].question %></td>
					<% for( j=0; j<data.questions[i].answers.length; j++){ %>
					<td>
						<% if(data.questions[i].answers[j].type == 'text') {%>
						<%= data.questions[i].answers[j].text %>
						<% }; %>
						<% if(data.questions[i].answers[j].type == 'slider') {%>
						<input type="range" id="<%= data.questions[i].answers[j].id%>" max="<%= data.questions[i].answers[j].max%>" min="<%= data.questions[i].answers[j].min%>" step="<%= data.questions[i].answers[j].step%>" value="0">
						<label id="<%= data.questions[i].answers[j].id%>v">
							<% } else{ %>
							<input type="<%= data.questions[i].answers[j].type %>" id="<%= data.questions[i].answers[j].id %>">
							<% }; %>
						</td>
						<% }}; %>
					</tr>
				</table>
			</DIV>
			<DIV id = 'footer'></DIV>


			<script src='symptomtracker.js'></script>

		<% include partials/footer %>
