<HTML>
	<HEAD>
		<TITLE>All Results</TITLE>
		<link href="/CH/css/style.css" rel="stylesheet" type="text/css">
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
		 <script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		 <script src = "/MT/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		 <script src = "/results/scripts.js"></script>
		 <link rel="stylesheet" href="/MT/js/jquery-ui-1.12.1.custom/jquery-ui.min.css">
		 <link rel="stylesheet" href="/MT/js/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css">
		 <link rel="stylesheet" href="/MT/js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	</HEAD>
	<BODY>
		<% include partials/head %>
		<DIV class = 'page-header'><H1>All Results</H1></DIV>
		<DIV class = 'container' id = "FTQ"></DIV>
		<DIV class = 'container' id = "menstrual_tracker"></DIV>
		<DIV class = 'container' id = "SAC"></DIV>
		<DIV class = 'container' id = "symptoms" >
			<h1 class = 'page header' >Symptoms:</h1>
			<table id = 'table'>
				<tr><th><div id = 'date'> Date</div></th></tr>
					<% for(i=0; i<data.questions.length; i++){ %>
					<tr id = <%=data.questions[i].id%>>
					<th><%=data.questions[i].question%></th>
						<%for(j=0; j<data.questions[i].answers.length; j+=3){%>
						<td id = "original">
							<div class = "answer">
							<%if(data.questions[i].answers[j].type=="slider"){%>
								<input type="range" id="<%=data.questions[i].answers[j].id%>" min="<%=data.questions[i].answers[j].min%>" max="<%=data.questions[i].answers[j].max%>" step="<%=data.questions[i].answers[j].step%>" value="0" style="visibility: hidden;">
							<% } else{ %>
								<%=data.questions[i].answers[j].text%>
								<input type= "<%=data.questions[i].answers[j].type%>" id="<%=data.questions[i].answers[j].id%>" style="visibility: hidden;">
							<% } %>
							</div>
						</td>
						<% }; %>
					 
				<% }; %>
			</table>
		</DIV>
	</BODY>
</HTML>
