<!DOCTYPE html>
<html>
<head>
    <title>FAQ</title>
  	<% include partials/head %>

</head>

<body>
    	<% include partials/nav %>
    	
		<div class = "container">
			<div class="jumbotron text-center">
				<h1>Frequently Asked Questions</h1>
			</div>
			<!-- <div class = "col-md-12"> -->
			  <% for(var i =0; i < data.length; i++){ %>
				<div class="panel panel-default">
					<div role="button" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#<%= i %>" aria-expanded="false" aria-controls="<%= i %>" role="tab" id="<%= i %>_0">
					  <h4 class="panel-title">
						<span >
						  <%= data[i].question %>
						</span>
					  </h4>
					</div>
					<div id="<%= i %>" class="panel-collapse collapse" role="tabpanel"  aria-expanded="false" aria-labelledby="<%= i %>_0" hide = true>
					  <div class="panel-body">
						<ul class="dl-horizontal">
						<% if (data[i].answer.length > 1) { %>
								<% for (var j = 0; j < data[i].answer.length; j++){%>
										<li><%= data[i].answer[j] %> </li>
								<%}%>
						<%}%>
						<% if (data[i].answer.length == 1){ %>
							<%= data[i].answer[0]%>
						<%}%>
						</ul>
						</div>
					</div>
				  </div>
			  <% } %>
			<!-- </div> -->
	</div>
		<script src="/js/faq.js"></script>

</body>
</head>
</html>