<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>Menstrual Tracker</TITLE>
	  <link href="/CH/css/style.css" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src = "MT/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	  <link rel="stylesheet" href="MT/js/jquery-ui-1.12.1.custom/jquery-ui.min.css">
	  <link rel="stylesheet" href="MT/js/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css">
	  <link rel="stylesheet" href="MT/js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css">
	</HEAD>
	<BODY>
	<% include partials/head %>
		<DIV id = 'header'><H1></H1></DIV>
		<DIV id = 'body'>
		<H1><%=data.title%></H1>
		<H2><%=data.desc%></H2>
		<% for(var i =0; i < data.questions.length; i++){ %>
		    <br><%= data.questions[i].question %>
			<form><% for(var j = 0; j< data.questions[i].answers.length; j++) { %><%if(data.questions[i].answers[j].type == "date"){%>
					<input type="date" id = "<%=data.questions[i].answers[j].id%>"> <%}%><%if(data.questions[i].answers[j].type == "radio"){%>
					<input type="radio" id = "<%=data.questions[i].answers[j].id %>" name = "data.questions[i].id"> <%}%><%= data.questions[i].answers[j].text %><% } %>
			</form> <% } %>
		</DIV>
		
		<button id="submit">submit</button>
		<button id="display">View Answers</button>
		<script src="MT/js/scripts.js"></script>
		
	</BODY>
</HTML>