<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>Menstrual Tracker</TITLE>
	  <link href="/CH/css/style.css" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
      <script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src = "MT/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	  <link rel="stylesheet" href="MT/js/jquery-ui-1.12.1.custom/jquery-ui.min.css">
	  <link rel="stylesheet" href="MT/js/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css">
	  <link rel="stylesheet" href="MT/js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css">
	  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</HEAD>
	<BODY>
	<% include partials/head %>
		<DIV id = 'body' class="text-center">
		<H1><%=data.title%></H1>
		<H3 class = 'page-header'><%=data.desc%></H3>
		<div class="text-center"><% for(var i =0; i < data.questions.length; i++){ %>
		    <br><%= data.questions[i].question %>
			<form><% for(var j = 0; j< data.questions[i].answers.length; j++) { %><%if(data.questions[i].answers[j].type == "date"){%>
					<input type="date" id = "<%=data.questions[i].answers[j].id%>"> <%}%><%if(data.questions[i].answers[j].type == "radio"){%>
					<input type="radio" id = "<%=data.questions[i].answers[j].id %>" name = "data.questions[i].id"> <%}%><%= data.questions[i].answers[j].text %><% } %>
			</form> <% } %>
		</div>
		
		<button id="submit" class="btn btn-default">submit</button>
		<button id="display" class="btn btn-default">View Answers</button>
		</DIV>
		<script src="/MT/js/scripts.js"></script>
		
	</BODY>
</HTML>