<HTML>
	<HEAD>
		<TITLE>JSON-driven Server</TITLE>
		
	</HEAD>
	<BODY>
		<DIV id = 'header'><H1></H1></DIV>
		<DIV id = 'body'>
		<H1><%=data.title%></H1>
		<H2><%= data.desc%></H2>

		<form id ="ra_activities">

		  <% for(var i =0; i < data.questions.length; i++){ %>
		    <br><br><%= data.questions[i].question %>
			<% for(var j = 0; j< data.questions[i].answers.length; j++) { %>
			
				<BLOCKQUOTE>
				<br><br><%= data.questions[i].answers[j].text %> <input type= '<%= data.questions[i].answers[j].type %>' id = '<%=data.questions[i].answers[j].id%>' name= '<%= i %>' >  
				</BLOCKQUOTE>
			
				
				
				<% if (typeof data.questions[i].answers[j].options != 'undefined'){ %>	
				<% for(var k = 0; k< data.questions[i].answers[j].options.length; k++) { %>
					<BLOCKQUOTE><BLOCKQUOTE>
					<% if(data.questions[i].answers[j].options[k].type === ""){ %>
						<br><br><%= data.questions[i].answers[j].options[k].text %>
					<% } else{ %>

						<br><br><%= data.questions[i].answers[j].options[k].text %> <input type= '<%= data.questions[i].answers[j].options[k].type %>' id = '<%=data.questions[i].answers[j].options[k].id%>'   name= '<%= i + 1 + j %>' > 

					<% } %>
					</BLOCKQUOTE></BLOCKQUOTE>	
					

						<% if (typeof data.questions[i].answers[j].options[k].options != 'undefined'){ %>	
						<% for(var l = 0; l < data.questions[i].answers[j].options[k].options.length; l++) { %>
						<BLOCKQUOTE><BLOCKQUOTE>
						<% if(data.questions[i].answers[j].options[k].options[l].type === ""){ %>
							<br><br><%= data.questions[i].answers[j].options[k].options[l].text %>
						<% } else{ %>

							<br><br><%= data.questions[i].answers[j].options[k].options[l].text %> <input type= '<%= data.questions[i].answers[j].options[k].options[l].type %>' id = '<%=data.questions[i].answers[j].options[k].options[l].id%>'   name= '<%= i + 1 + j + k%>' > 

						<% } %>
						</BLOCKQUOTE></BLOCKQUOTE>	

							<% if (typeof data.questions[i].answers[j].options[k].options[l].options != 'undefined'){ %>	
								<% for(var m = 0; m < data.questions[i].answers[j].options[k].options[l].options.length; m++) { %>
									<BLOCKQUOTE><BLOCKQUOTE>
									<% if(data.questions[i].answers[j].options[k].options[l].options[m].type === ""){ %>
									<br><br><%= data.questions[i].answers[j].options[k].options[l].options[m].text %>
									<% } else{ %>

									<br><br><%= data.questions[i].answers[j].options[k].options[l].options[m].text %> <input type= '<%= data.questions[i].answers[j].options[k].options[l].options[m].type %>' id = '<%=data.questions[i].answers[j].options[k].options[l].options[m].id%>'   name= '<%= i + 1 + j + l %>' > 

									<% } %>
									</BLOCKQUOTE></BLOCKQUOTE>	

										<% if (typeof data.questions[i].answers[j].options[k].options[l].options[m].options != 'undefined'){ %>	
											<% for(var n = 0; n < data.questions[i].answers[j].options[k].options[l].options[m].options.length; n++) { %>
												<BLOCKQUOTE><BLOCKQUOTE>
												<% if(data.questions[i].answers[j].options[k].options[l].options[m].options[n].type === ""){ %>
												<br><br><%= data.questions[i].answers[j].options[k].options[l].options[m].options[n].text %>
												<% } else{ %>

												<br><br><%= data.questions[i].answers[j].options[k].options[l].options[m].options[n].text %> <input type= '<%= data.questions[i].answers[j].options[k].options[l].options[m].options[n].type %>' id = '<%=data.questions[i].answers[j].options[k].options[l].options[m].options[n].id%>'   name= '<%= i + 1 + j + l+ m %>' > 

												<% } %>
												</BLOCKQUOTE></BLOCKQUOTE>	

										<% } %>
									<% } %>

								<% } %>
							<% } %>

						<% } %>
						<% } %>


				<% } %>
				<% } %>
			<% } %>
		  <% } %>
		</DIV>
		<DIV id = 'footer'></DIV>
		</form>
		<button id="submit">submit</button>
		<button id="viewAnswers">View Answers</button>
		<script src="RA/js/scripts.js"></script>
		
	</BODY>
</HTML>