<% include partials/updated-header.ejs %>
		<DIV id = 'header' class = 'page-header'><H1>Sleep, Alcohol, Caffeine Tracker</H1></DIV>
		<DIV id = 'body' class = 'container'>
		<TITLE>Sleep, Alcohol, Caffeine Tracker</TITLE>
			<% for (var i = 0; i < data[0].questions.length; i++){ %>
				<h2><%= data[0].questions[i].question %></h2>
					<% for (var j = 0; j < data[0].questions[i].answers.length; j++){ %>
						<div><%= data[0].questions[i].answers[j].text %></div>
							<% if (data[0].questions[i].answers[j].type == "checkbox"){ %>
								<% var x = data[0].questions[i].answers[j].id; %>
								<input type="checkbox" id = <%= x %> >
							<% } else if (data[0].questions[i].answers[j].type == "text"){ %>
								<% var x = data[0].questions[i].answers[j].id; %>
								<input type="text" id = <%= x %> >
							<% } else if (data[0].questions[i].answers[j].type == "radio") { %>
								<% var x = data[0].questions[i].answers[j].id; %>
								<input type = "radio" name = "r" id = <%= x %> >
							<% } %>
							<% if (typeof data[0].questions[i].answers[j].options != "undefined"){ %>
							<% for (var k = 0; k < data[0].questions[i].answers[j].options.length; k++){ %>
								<div><%= data[0].questions[i].answers[j].options[k].text %></div>
									<% if (data[0].questions[i].answers[j].options[k].type == "checkbox"){ %>
										<% var x = data[0].questions[i].answers[j].options[k].id; %>									
										<input type="checkbox" id = <%= x %> >
									<% } else if (data[0].questions[i].answers[j].options[k].type == "text"){ %>
										<% var x = data[0].questions[i].answers[j].options[k].id; %>
										<input type="text" id = <%= x %> >
									<% } else if (data[0].questions[i].answers[j].options[k].type == "radio") { %>
										<% var x = data[0].questions[i].answers[j].options[k].id; %>
										<input type = "radio" name = "r" id = <%= x %> >
									<% } %>
									<% if (typeof data[0].questions[i].answers[j].options[k].options != "undefined") { %>
									<% for (var l = 0; l < data[0].questions[i].answers[j].options[k].options.length; l++){ %>
										<div><%= data[0].questions[i].answers[j].options[k].options[l].text %></div>
											<% if (data[0].questions[i].answers[j].options[k].options[l].type == "checkbox"){ %>
												<% var x = data[0].questions[i].answers[j].options[k].options[l].id; %>
												<input type="checkbox" id = <%= x %> >
											<% } else if (data[0].questions[i].answers[j].options[k].options[l].type == "text"){ %>
												<% var x = data[0].questions[i].answers[j].options[k].options[l].id; %>
												<input type="text" id = <%= x %> >
											<% } else if (data[0].questions[i].answers[j].options[k].options[l].type == "radio") { %>
												<% var x = data[0].questions[i].answers[j].options[k].options[l].id; %>
												<input type = "radio" name = "r" id = <%= x %> >
											<% } %>
											<% if (typeof data[0].questions[i].answers[j].options[k].options[l].options != "undefined"){ %>
											<% for (var m = 0; m < data[0].questions[i].answers[j].options[k].options[l].options.length; m++){ %>
												<div><%= data[0].questions[i].answers[j].options[k].options[l].options[m].text %></div>
													<% if (data[0].questions[i].answers[j].options[k].options[l].options[m].type == "checkbox"){ %>
														<% var x = data[0].questions[i].answers[j].options[k].options[l].options[m].id; %>
														<input type="checkbox" id = <%= x %> >
													<% } else if (data[0].questions[i].answers[j].options[k].options[l].options[m].type == "text"){ %>
														<% var x = data[0].questions[i].answers[j].options[k].options[l].options[m].id; %>
														<input type="text" id = <%= x %> >
													<% } else if (data[0].questions[i].answers[j].options[k].options[l].options[m].type == "radio") { %>
														<% var x = data[0].questions[i].answers[j].options[k].options[l].options[m].id; %>
														<input type = "radio" name = "r" id = <%= x %> >
													<% } %><% } %><% } %><% } %> <% } %><% } %><% } %><% } %><% } %> 
		</DIV>
		<DIV id = 'footer' class ="container">
		<button onclick="location.href='/';" id = "submit" class = "btn btn-default">Submit</button>
		</DIV>
		<script src = "SAC/js/script.js"></script>

<% include partials/footer %>