<html>
	<head>
		<title><%= data[0].title %></title>
		<link href="/CH/css/style2.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<!-- Title begin -->
		<h1><%= data[0].title %> Summary</h1>
		<!-- Title end -->
		<form id="container">
			<% for(var i=0; i<data[0]["questions"].length; i++) { %>
			<div class="question" id="<%= data[0]["questions"][i].id %>"> 
				<h3><%= data[0]["questions"][i].question %><span class="alert"></span></h3> 
				<!-- answers begin -->
				<% for (var j = 0; j < data[0]["questions"][i].answers.length; j++) { %>
				<div class="answer">
					<% if (data[0]["questions"][i].answers[j].type.indexOf("check")!=-1){%>
					<!-- Add checkbox from type -->
					<input type="checkbox" id="<%= data[0]["questions"][i].answers[j].id %>">
					<% }%>
					<% if (data[0]["questions"][i].answers[j].type.indexOf("radio")!=-1){%>
					<!-- Add radio from type -->
					<input type="radio" name="<%= data[0]["questions"][i].id %>" id="<%= data[0]["questions"][i].answers[j].id %>">
					<% }%>
					<!-- Add label to input -->
					<label for="<%=data[0]["questions"][i].answers[j].id%>"><%= data[0]["questions"][i].answers[j].text %></label>
					<% if (data[0]["questions"][i].answers[j].type.indexOf("text")!=-1){%>
					<!-- Add textbox from type -->
					<input type="text" id="<%= data[0]["questions"][i].answers[j].id %>">
					<% }%>
					<% if (data[0]["questions"][i].answers[j].options.length>0){%>
					<!-- options begin -->
					<div class="option" id="<%= data[0]["questions"][i].answers[j].id + "form"%>">
                        
						<% for (var k = 0; k < data[0]["questions"][i].answers[j].options.length; k++) { %>
				        <div class="optiondiv">
						<% if (data[0]["questions"][i].answers[j].options[k].type.indexOf("check")!=-1){%>
						<!-- Add checkbox from type -->
						<input type="checkbox" id="<%= data[0]["questions"][i].answers[j].options[k].id %>">
						<% }%>
						<% if (data[0]["questions"][i].answers[j].options[k].type.indexOf("radio")!=-1){%>
						<!-- Add radio from type -->
						<input type="radio" name="<%= data[0]["questions"][i].answers[j].id %>" id="<%= data[0]["questions"][i].answers[j].options[k].id %>">
						<% }%>
						<!-- Add label to input -->
						<label for="<%=data[0]["questions"][i].answers[j].options[k].id%>"><%= data[0]["questions"][i].answers[j].options[k].text %></label>
						<% if (data[0]["questions"][i].answers[j].options[k].type.indexOf("text")!=-1){%>
						<!-- Add textbox from type -->
						<input type="text" id="<%= data[0]["questions"][i].answers[j].options[k].id %>">
						<% }%>
						<% if (data[0]["questions"][i].answers[j].options[k].suboptions.length>0){%>
						<!-- suboptions begin -->
						<div class="suboption" id="<%= data[0]["questions"][i].answers[j].id + "form"%>">
							<% if (k!=0){ %>
							<br>
							<% }%>
							<% for (var l = 0; l < data[0]["questions"][i].answers[j].options[k].suboptions[l].length; l++) { %>
							<!-- Add checkbox from type -->
							<% if (data[0]["questions"][i].answers[j].options[k].suboptions[l].type.indexOf("check")!=-1){%>
							<input type="checkbox" id="<%= data[0]["questions"][i].answers[j].options[k].suboptions[l].id %>">
							<% }%>
							<!-- Add radio from type -->
							<% if (data[0]["questions"][i].answers[j].options[k].suboptions[l].type.indexOf("radio")!=-1){%>
							<input type="radio" name="<%= data[0]["questions"][i].answers[j].options[k].id %>" id="<%= data[0]["questions"][i].answers[j].options[k].suboptions[l].id %>">
							<% }%>
							<!-- Add label to input -->
							<label for="<%=data[0]["questions"][i].answers[j].options[k].suboptions[l].id%>"><%= data[0]["questions"][i].answers[j].options[k].suboptions[l].text %></label>
							<!-- Add textbox from type -->
							<% if (data[0]["questions"][i].answers[j].options[k].suboptions[l].type.indexOf("text")!=-1){%>
							<input type="text" id="<%= data[0]["questions"][i].answers[j].options[k].suboptions[l].id %>">
							<% }%>
							<% }%>
						</div>
						<% }%>
						<!-- suboptions end -->
                            
                        </div>
						<% }%>
					</div>
					<% }%>
					<!-- options end -->
				</div>
				<% } %>
				<!-- answers end -->
			</div>
			<% } %>
			<!-- questions end -->
			<br><br>
		</form>
		<script src="/CH/js/script2.js"></script>
	</body>
</html>